{% extends 'rango/base.html' %}

{% block login %}
<div id="id02">
    <!-- Modal Content -->
  <div class="modal-content">

    <a href="{% url 'list' %}"><span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span></a>
    <div class="container">
      <h1>Login</h1>
      <p>Please fill in this form to log into an account.</p>
      <hr>
      <a href="{% url 'social:begin' 'google-oauth2' %}"><button class="ist_button_google">
          <img width="16" height="16" src="https://d3ptyyxy2at9ui.cloudfront.net/google-41de20.svg">
          Log in with Google Account
      </button></a>
      <hr>
      <form>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      </form>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button class="loginuserbutton" type="submit">Login</button>
      <a href="{% url 'list' %}"><button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button></a>

      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

  </div>
</div>

{% endblock login %}
