<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Material Design for Bootstrap and icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>To-do-list</title>
  </head>

  <body>
    <!-- Navigation bar with two buttons for "user" and "add list" -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" id="openUserFunctionality">
        {% if user.is_authenticated %}
          {{ user.username }}
        {% else %}
          User
        {% endif %}
        <span class="fas fa-user"></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active ml-auto" id="searchForm">
            <form class="example" action="action_page.php">
              <input type="text" placeholder="Search.." name="search" id="searchInput">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </li>
          <li class="nav-item active ml-auto" id="openFormListButton">
            <a class="nav-link" href="#" id="openFormList">Add list<span class="fas fa-plus"></span></a>
          </li>
        </ul>
      </div>
    </nav>
        <!-- Form for adding a new list and choosing the name -->
    <div class="float-right bg-light" id="inputFormList">
      <a href="" class="float-right" id="cancelAddList"><span class="fas fa-trash-alt"></span></a>
      <a href="" class="float-right" id="addList"><span class="fas fa-plus"></span></a>
      <input class="float-right" type="text" placeholder="Name..." id="inputListName">
    </div>

    <!-- Placeholder for what will be the user input in future updates -->
    <div class="bg-light" id="userFunctionality">
      {% if user.is_authenticated %}
        <button class="Ubutton" onclick="document.getElementById('popUpLogOut').style.display='block'">Logout</button>
      {% else %}
        <a href="{% url 'signup' %}"><button class="Ubutton">Sign Up</button></a>
        <a href="{% url 'login' %}"><button class="Ubutton">Login</button></a>
      {% endif %}
    </div>

    <!-- The Modal (contains the Sign Up form) -->
    {% block signup %}
    {% endblock signup %}
        <!-- The login Modal -->

    {% block login %}
    {% endblock login %}

    <!-- Main content of the to-do-list website -->
    <section class="wrapper">
      <div class="container-fostrap">
        {% block content %}
        {% endblock content %}

      </div>
  </section>

  <!-- Pop up for deleting list -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete list?</h4>
          <button type="button" class="close" id="closePopUp">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete this list?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="OK">OK</button>
          <button type="button" class="btn btn-danger" id="Cancel">Cancel</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal" id="popUpLogOut">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Log out?</h4>
          <button type="button" class="close" onclick="document.getElementById('popUpLogOut').style.display='none'" id="closePopUpLogout">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to log out?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a href="{% url 'logout' %}"><button type="button" class="btn btn-success" id="OKLogout">OK</button></a>
          <button type="button" class="btn btn-danger" onclick="document.getElementById('popUpLogOut').style.display='none'">Cancel</button>
        </div>

      </div>
    </div>
    </div>
    <!-- JavaScript -->
    <!-- jQuery first, then Bootstrap JS, then "app.js" -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
