@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

/* --------------------------------
 Overall styling
 ------------------------------------*/
html,
body {
  /*-moz-box-sizing: border-box;
       box-sizing: border-box;*/
  height: 100%;
  width: 100%;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.fas {
  color: #50a1af;
  padding: 5px;
}

.fas:hover {
  color: grey;
}

.fa-check {
  color: grey;
}

.fa-check:hover{
  color:#4ab279;
}

#newItemInput, #inputListName {
  border: 1px solid #50a1af !important;
  border-radius: 5px !important;
}

/* -----------------------------------
 Styling of navbar
 -------------------------------------*/
.nav-item, .navbar-brand{
  font-size: 19px;
}

#inputFormList {
  width: 100%;
  padding: 0px 20px 20px 20px;
}

#colorPicker {
  margin-right:5px;
}


#userFunctionality {
  padding: 0px 20px 1px 20px;
}

/* Style the search field */
#searchInput {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #50a1af;
  border-radius: 5px;
  float: left;
  width: 50%;
  margin-left:10px;
  top: 50%;
}

#searchButton {
  margin: 0px 5px;
}

.fa-undo, .fa-search {
  color:white !important;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 0px;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 4px;
  content: " ";
  display: block;
}

#RBblue label:before {
  border: 2px solid #50a1af;
}

#RBblue input[type=radio]:checked + label:after {
  background: #50a1af;
}

#RBred label:before {
  border: 2px solid #50af81;
}

#RBred input[type=radio]:checked + label:after {
  background: #50af81;
}

#RBgreen label:before {
  border: 2px solid #af5950;
}

#RBgreen input[type=radio]:checked + label:after {
  background: #af5950;
}

#RBpurple label:before {
  border: 2px solid #5c50af;
}

#RBpurple input[type=radio]:checked + label:after {
  background: #5c50af;
}

#RByellow label:before {
  border: 2px solid #c1c155;
}

#RByellow input[type=radio]:checked + label:after {
  background: #c1c155;
}

.Ubutton {
    background: #50a1af;
    color: white;
    border-radius: 5px;
    border-left: none; /* Prevent double borders */
    margin-bottom: 20px;
}
.Ubutton:hover {
  background: grey;
}

.modal-dialog {
  border: 3px solid #50a1af;
  border-radius: 10px;
}

.modal-body {
  border-width: 1px 0px 1px 0px !important;
  border: solid #50a1af;
}

/* ---------------------------------------
Styling of container of the cards
------------------------------------------*/
.wrapper {
  display: table;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  width: 100%;
}

h1.heading {
  color: #fff;
  font-size: 2.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}

#explanation {
  max-width: 700px;
  text-align: left;
  margin: auto;
  padding: 5px;
  border: 3px solid #50a1af;
  border-radius: 10px;
  background-color:rgba(80, 161, 175, 0.2);
}

/* ----------------------------------
 Styling of cards
 ------------------------------------*/
.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-header {
  color: white !important;
  font-weight: 700;
  font-size: 20px;
  background-color: #50a1af !important;
  opacity: 0.9;
}

.card-header .fas  {
  color: white;
}

.card-header .fas:hover{
  color: grey;
}

.card-body {
  padding:0 !important;
  text-align:left;
}

.card-add-more button {
  color:#50a1af !important;
  background-color: white !important;
}

.form-group {
    padding: 5px 0px 5px 5px;
    margin: 0 !important;
}

.card-add-more a {
  padding: 5px;
}

/* --------- search bar ------------ */



/* Style the submit button */
form#searchFunction button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #50a1af;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form#searchFunction button:hover {
  background: grey;
}

/* Clear floats */
form#searchFunction::after {
  content: "";
  clear: both;
  display: table;
}

/* ------sign up form -- */

* {box-sizing: border-box}
/* Full-width input fields */
.loginInput {
  width: 100%;

  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.loginInput:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.userbutton {
  background-color: #50a1af;
  color: white;
  padding: 14px 20px;

  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  position: relative;
}
.loginuserbutton {
  background-color: #50a1af;
  color: white;
  padding: 14px 20px;
  margin: 0px 0px;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  position: relative;
}
.userbutton:hover {
  opacity:1;
  background: grey;
}
.loginuserbutton:hover {
  opacity:1;
  background: grey;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  cursor: pointer;

}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  cursor: pointer;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
#id01 #id02 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  float: right;
  right: 5px;
  top: 5px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* -------login form /*
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}



.ist_button_google {

    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 10px;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    position: relative;

}
