@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

/* --------------------------------
 Overall styling
 ------------------------------------*/
html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.fas {
  color: #50a1af;
  padding: 5px;
}

.fas:hover {
  color: grey;
}

.fa-check {
  color: grey;
}

.fa-check:hover{
  color:#4ab279;
}

input, #newItemInput {
  border: 1px solid #50a1af;
  border-radius: 5px;
}

/* -----------------------------------
 Styling of navbar
 -------------------------------------*/
.navbar-light {
  background-color: red;
}

#inputFormList {
  width: 100%;
  padding: 0px 20px 20px 20px;
}

#userFunctionality {
  padding: 0px 20px 1px 20px;
}

.modal-dialog {
  border: 3px solid #50a1af;
  border-radius: 10px;
}

.modal-body {
  border-width: 1px 0px 1px 0px !important;
  border: solid #50a1af;
}

/* ---------------------------------------
Styling of container of the cards
------------------------------------------*/
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  width: 100%;
}

h1.heading {
  color: #fff;
  font-size: 2.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}

#explanation {
  max-width: 700px;
  text-align: left;
  margin: auto;
  padding: 5px;
  border: 3px solid #50a1af;
  border-radius: 10px;
  background-color:rgba(80, 161, 175, 0.2);
}

/* ----------------------------------
 Styling of cards
 ------------------------------------*/
.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-header {
  color: white !important;
  font-weight: 700;
  font-size: 20px;
  background-color: #50a1af !important;
  opacity: 0.9;
}

.card-header .fas  {
  color: white;
}

.card-header .fas:hover{
  color: grey;
}

.card-body {
  padding:0 !important;
  text-align:left;
}

.card-add-more button {
  color:#50a1af !important;
  background-color: white !important;
}

.form-group {
    padding: 5px 0px 5px 5px;
    margin: 0 !important;
}

.card-add-more a {
  padding: 5px;
}

/* --------- search bar ------------ */

.topnav {
  box-sizing: border-box;
  margin: 0 auto;
  width: 50%;

}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;


}

.Ubutton {
    background: #50a1af;
    color: white;
    border-left: none; /* Prevent double borders */
}
.Ubutton:hover {
  background: grey;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #50a1af;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: grey;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* ------sign up form -- */

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;

  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.userbutton {
  background-color: #50a1af;
  color: white;
  padding: 14px 20px;

  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  position: relative;
}
.loginuserbutton {
  background-color: #50a1af;
  color: white;
  padding: 14px 20px;
  margin: 0px 0px;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  position: relative;
}
.userbutton:hover {
  opacity:1;
  background: grey;
}
.loginuserbutton:hover {
  opacity:1;
  background: grey;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  cursor: pointer;

}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  cursor: pointer;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* -------login form /*
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}



.ist_button_google {

    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 10px;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    position: relative;

}
